.panel-container {
    border: 1px solid #ccc;
    /* padding: 10px; */
    /* margin: 10px 0px; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: flex-start;
  }
  
  .bottom-right-text {
    position: absolute;
    bottom: 0;
    right: 0;
    font-weight: 700;
    font-style: italic;
  }
  
  .button-text{
    width: 300px;
    margin: 10px 0px;
    background-color: grey;
    border-radius: 5px;
    color: white;
  }

  label{
    width: 200px;
  }

  .textstyle{
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  button{
    margin: 10px 0px;
  }

  
  .auto{
    display: flex;
    justify-content: start;
  }